{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Products</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">MyStore</div>
        <div class="menu-toggle" onclick="toggleMenu();">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="{% url 'product' %}" class="active">Products</a></li>
            <li><a href="{% url 'category' %}">Categories</a></li>
        </ul>
    </nav>
    <div>
        <ul class="message">
            {% for message in messages %}
            <script>alert('{{ message }}');</script>
            {% endfor %}
        </ul>
     </div>
    <h1>Product Management</h1>

     <div class="filter-wrapper">
        <button class="scroll-arrow arrow-left" onclick="scrollFilter('left');"><i class="fas fa-chevron-left"></i></button>
        <div class="filter-scroll-container" id="filterContainer">
            </div>
        <button class="scroll-arrow arrow-right" onclick="scrollFilter('right');"><i class="fas fa-chevron-right"></i></button>
    </div>

    <button class="add-btn" onclick="openAddForm();">+ Add New Product</button>

    <div class="products" id="productList"></div>


        <div class="overlay" id="overlay">
            <div class="form-box">
                <h3 id="formTitle">Product Details</h3>
                    <form id="productForm" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="name" placeholder="Product Name" name="p_name">
                        <input type="hidden" class="form-control" name="p_id" id="id">
                        <select id="category" onchange="updateSub();" name="p_category">
                        <option value="">Category</option>
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.CategoryName }}</option>
                            {% endfor %}
                        </select>
                        <select id="subcategory" name="p_subcategory">
                            <option value="">Select Category First</option>
                        </select>
                        <textarea id="desc" placeholder="Description" rows="3" name="p_desc"></textarea>
                        <input id="price" type="number" placeholder="Price" name="p_price">
                        <input id="image" type="file" name="p_image">

<!--                        <button class="submit" type="submit">Save Product</button>-->
                        <button class="submit" onclick="saveProduct();">Save Product</button>
                        <button class="cancel" onclick="closeForm();">Cancel</button>
                    </form>
            </div>
        </div>

<script src="{% static 'js/script.js' %}" ></script>

</body>
</html>