name: Django Deploy to Oracle Cloud

on:
  push:
    branches:
      - master  # This triggers the deploy whenever you push to 'main'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to OCI via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Vivekanand_Photo_Marketing
            git pull origin master
            source venv/bin/activate
            pip install -r requirements.txt
            python manage.py makemigrations 
            python manage.py migrate
            python manage.py collectstatic --noinput
            sudo systemctl restart gunicorn